h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: center;
}